.parking-lot-box {
    padding: var(--spacing-extra-large);
    width: 100vw;
    height: 90vh;
    --width-preview: 560px;

    .parked-item-form {
        position: relative;

        .input {
            flex-basis: calc(50% - var(--dui-spacing-medium) / 2);
        }
    }

    .header-style {
        padding: var(--spacing-medium);
    }
}

.submit-button {
    display: flex;
    justify-content: flex-end;
    padding: var(--spacing-medium);
}