.navbar {
    display: flex;
    position: relative;
    align-items: center;
    border-bottom: var(--tui-width-separator-thin) solid var(--tui-color-separator);
    background-color: var(--tui-color-foreground);
    padding: var(--tui-spacing-medium) var(--tui-spacing-large);
    overflow: auto;
    color: var(--tui-color-text);
    gap: var(--tui-spacing-large);

    .app-brand {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        color: var(--tui-color-brand);

        .logo {
            height: var(--tui-font-size-super-large);
        }
    }

    .main {
        display: flex;
        align-self: stretch;
        flex-grow: 1;
        justify-content: flex-end;
        overflow: auto;

        .link {
            display: flex;
            align-items: center;
            color: var(--tui-color-brand);
            font-size: var(--tui-font-size-extra-large);
        }
    }
}
